In [87]:
import pandas as pd
import numpy as np
from datetime import datetime
from matplotlib import pyplot as plt

In [135]:
df = pd.read_csv("PRSA_Data_Dingling_20130301-20170228.csv", encoding = 'ISO-8859-1')

In [136]:
display(df)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,3.0,NaN,200.0,82.0,-2.3,1020.8,-19.7,0.0,E,0.5,Dingling
1,2,2013,3,1,1,7.0,7.0,3.0,NaN,200.0,80.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Dingling
2,3,2013,3,1,2,5.0,5.0,3.0,2.0,200.0,79.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Dingling
3,4,2013,3,1,3,6.0,6.0,3.0,NaN,200.0,79.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Dingling
4,5,2013,3,1,4,5.0,5.0,3.0,NaN,200.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,11.0,11.0,2.0,2.0,200.0,99.0,11.7,1008.9,-13.3,0.0,NNE,1.3,Dingling
35060,35061,2017,2,28,20,13.0,13.0,2.0,2.0,200.0,101.0,10.9,1009.0,-14.0,0.0,N,2.1,Dingling
35061,35062,2017,2,28,21,9.0,14.0,2.0,2.0,200.0,102.0,9.5,1009.4,-13.0,0.0,N,1.5,Dingling
35062,35063,2017,2,28,22,10.0,12.0,2.0,2.0,200.0,97.0,7.8,1009.6,-12.6,0.0,NW,1.4,Dingling
35063,35064,2017,2,28,23,13.0,16.0,4.0,9.0,500.0,74.0,7.0,1009.4,-12.2,0.0,N,1.9,Dingling

In [137]:
def dateparser(x):
    return datetime.strptime(x,"%Y %m %d %H")

In [138]:
# Read the date and convert into a concatenated date time object. Adds a new column with the date object created by concatenating the individual date aspects.

df = pd.read_csv("PRSA_Data_Dingling_20130301-20170228.csv", encoding = 'ISO-8859-1',parse_dates = [['year','month','day','hour']], date_parser = dateparser, keep_date_col = True )

In [139]:
display(df)
df.describe()
df.info()

,year_month_day_hour,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,2013-03-01 00:00:00,1,2013,3,1,0,4.0,4.0,3.0,NaN,200.0,82.0,-2.3,1020.8,-19.7,0.0,E,0.5,Dingling
1,2013-03-01 01:00:00,2,2013,3,1,1,7.0,7.0,3.0,NaN,200.0,80.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Dingling
2,2013-03-01 02:00:00,3,2013,3,1,2,5.0,5.0,3.0,2.0,200.0,79.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Dingling
3,2013-03-01 03:00:00,4,2013,3,1,3,6.0,6.0,3.0,NaN,200.0,79.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Dingling
4,2013-03-01 04:00:00,5,2013,3,1,4,5.0,5.0,3.0,NaN,200.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2017-02-28 19:00:00,35060,2017,2,28,19,11.0,11.0,2.0,2.0,200.0,99.0,11.7,1008.9,-13.3,0.0,NNE,1.3,Dingling
35060,2017-02-28 20:00:00,35061,2017,2,28,20,13.0,13.0,2.0,2.0,200.0,101.0,10.9,1009.0,-14.0,0.0,N,2.1,Dingling
35061,2017-02-28 21:00:00,35062,2017,2,28,21,9.0,14.0,2.0,2.0,200.0,102.0,9.5,1009.4,-13.0,0.0,N,1.5,Dingling
35062,2017-02-28 22:00:00,35063,2017,2,28,22,10.0,12.0,2.0,2.0,200.0,97.0,7.8,1009.6,-12.6,0.0,NW,1.4,Dingling
35063,2017-02-28 23:00:00,35064,2017,2,28,23,13.0,16.0,4.0,9.0,500.0,74.0,7.0,1009.4,-12.2,0.0,N,1.9,Dingling

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year_month_day_hour  35064 non-null  datetime64[ns]
 1   No                   35064 non-null  int64
 2   year                 35064 non-null  object
 3   month                35064 non-null  object
 4   day                  35064 non-null  object
 5   hour                 35064 non-null  object
 6   PM2.5                34285 non-null  float64
 7   PM10                 34408 non-null  float64
 8   SO2                  34334 non-null  float64
 9   NO2                  33830 non-null  float64
 10  CO                   33052 non-null  float64
 11  O3                   33850 non-null  float64
 12  TEMP                 35011 non-null  float64
 13  PRES                 35014 non-null  float64
 14  DEWP                 35011 non-null  float64
 15  RAIN                 35013 non-null  float64
 16  wd                   34924 non-null  object
 17  WSPM                 35021 non-null  float64
 18  station              35064 non-null  object
dtypes: datetime64[ns](1), float64(11), int64(1), object(6)
memory usage: 5.1+ MB

In [140]:
df_non_index = df.copy()

In [141]:
# Time Series data should be indexed by the time object. Makes querying, subsetting (loc,iloc) etc easier and faster.
df = df.set_index("year_month_day_hour")
df[['year','month']] = df[['year','month']].apply(pd.to_numeric,axis =1)

In [142]:
display(df)
# df.info()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
year_month_day_hour,,,,,,,,,,,,,,,,,,
2013-03-01 00:00:00,1,2013,3,1,0,4.0,4.0,3.0,NaN,200.0,82.0,-2.3,1020.8,-19.7,0.0,E,0.5,Dingling
2013-03-01 01:00:00,2,2013,3,1,1,7.0,7.0,3.0,NaN,200.0,80.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Dingling
2013-03-01 02:00:00,3,2013,3,1,2,5.0,5.0,3.0,2.0,200.0,79.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Dingling
2013-03-01 03:00:00,4,2013,3,1,3,6.0,6.0,3.0,NaN,200.0,79.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Dingling
2013-03-01 04:00:00,5,2013,3,1,4,5.0,5.0,3.0,NaN,200.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-28 19:00:00,35060,2017,2,28,19,11.0,11.0,2.0,2.0,200.0,99.0,11.7,1008.9,-13.3,0.0,NNE,1.3,Dingling
2017-02-28 20:00:00,35061,2017,2,28,20,13.0,13.0,2.0,2.0,200.0,101.0,10.9,1009.0,-14.0,0.0,N,2.1,Dingling
2017-02-28 21:00:00,35062,2017,2,28,21,9.0,14.0,2.0,2.0,200.0,102.0,9.5,1009.4,-13.0,0.0,N,1.5,Dingling
2017-02-28 22:00:00,35063,2017,2,28,22,10.0,12.0,2.0,2.0,200.0,97.0,7.8,1009.6,-12.6,0.0,NW,1.4,Dingling
2017-02-28 23:00:00,35064,2017,2,28,23,13.0,16.0,4.0,9.0,500.0,74.0,7.0,1009.4,-12.2,0.0,N,1.9,Dingling

## Exploratory Analysis

In [143]:
# Plot PM10 for a specific year (2016,2015 or 2014 anything)

df_2014 = df.loc['2014'].reset_index()
# df_2015 = df.loc['2015'].reset_index()
# df_2014['month_day_hour'] = df_2014.apply(lambda x: str(x['month']) + '-' + x['day'],axis = 1)
# df_2015['month_day_hour'] = df_2015.apply(lambda x: str(x['month']) + '-' + x['day'],axis = 1)

df_2014_temp = df_2014[["PM2.5","month","day"]].groupby(['month','day'],as_index='False')['PM2.5'].mean()
plt.plot(df_2014_temp['month'],df_2014_temp['PM2.5'])
# plt.plot(df_2015['month_day_hour'],df_2015['PM2.5'])
plt.xlabel('Month')
plt.ylabel("PM 2.5")
plt.legend(["2014"])
plt.title("Air Quality Index - 2014")

KeyError: 'month'

In [149]:
df_2014_temp = df_2014.groupby(['month','day'],as_index='False')['PM2.5'].mean()

In [151]:
df_2014_temp2 = df_2014_temp.reset_index()
display(df_2014_temp2)

     month day       PM2.5
0        1   1   34.291667
1        1  10   39.791667
2        1  11   56.625000
3        1  12   16.750000
4        1  13   60.500000
..     ...  ..         ...
360     12   5   15.083333
361     12   6   44.583333
362     12   7   53.000000
363     12   8   74.086957
364     12   9  189.791667

[365 rows x 3 columns]

In [148]:
# df_2014 = df_2014[["PM2.5","month","day"]].groupby(['month','day']).agg({'PM2.5':['mean']})
display(df_2014)

,year_month_day_hour,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,2014-01-01 00:00:00,7345,2014,1,1,0,27.0,104.0,12.0,9.0,NaN,NaN,6.8,1003.7,-15.9,0.0,WSW,5.2,Dingling
1,2014-01-01 01:00:00,7346,2014,1,1,1,25.0,86.0,12.0,9.0,500.0,63.0,6.5,1003.6,-16.2,0.0,W,3.6,Dingling
2,2014-01-01 02:00:00,7347,2014,1,1,2,27.0,85.0,14.0,9.0,400.0,63.0,6.4,1003.4,-15.6,0.0,WNW,5.3,Dingling
3,2014-01-01 03:00:00,7348,2014,1,1,3,34.0,98.0,19.0,15.0,400.0,56.0,6.2,1002.9,-15.8,0.0,WNW,4.7,Dingling
4,2014-01-01 04:00:00,7349,2014,1,1,4,32.0,102.0,18.0,15.0,400.0,33.0,6.1,1002.7,-15.2,0.0,W,3.5,Dingling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2014-12-31 19:00:00,16100,2014,12,31,19,7.0,37.0,2.0,2.0,300.0,69.0,-2.3,1015.0,-24.8,0.0,NW,2.2,Dingling
8756,2014-12-31 20:00:00,16101,2014,12,31,20,NaN,NaN,NaN,NaN,NaN,NaN,-2.5,1014.0,-24.3,0.0,NNW,2.3,Dingling
8757,2014-12-31 21:00:00,16102,2014,12,31,21,NaN,NaN,NaN,NaN,NaN,NaN,-3.1,1012.0,-23.5,0.0,NW,1.4,Dingling
8758,2014-12-31 22:00:00,16103,2014,12,31,22,NaN,NaN,NaN,NaN,NaN,NaN,-3.0,1014.0,-23.4,0.0,NW,2.7,Dingling
8759,2014-12-31 23:00:00,16104,2014,12,31,23,NaN,NaN,NaN,NaN,NaN,NaN,-3.5,1012.0,-22.7,0.0,E,1.4,Dingling